.page ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.page li {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

.page a {
    text-decoration: none;
    color: black;
}

.page a:hover,
.page a:active, 
.page a.active{
    color: salmon;
}