.wrapper {
  border: 1px solid #dcdcdc;
  width: 500px;
  margin: 0 auto;
}

button {
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  background-color:#d3d3d3;
  width: 500px;
  height:50px;
  text-align: left;
  border: none;
}

.content{
  width: 500px;
  padding-left: 10px;
}

.butt2{
  cursor: not-allowed;
}

svg{
  transition: transform 0.1s;
}

.rotate{
  transform: rotate(90deg);
}

